svg {
    background:lightpink;
    width:4000px;
    height:800px;
}

#circle1{
    fill:blue;
    stroke-width:3;
    stroke:white;


}

#circle2{
    fill:lightblue;
    stroke-width:3;
    stroke:white;
    opacity:.5;
}


#circle3{
    fill: #393aff;
    opacity:.5;
    stroke-width:3;
    stroke:white;

}
#circle4{
    fill:red;
    stroke-width:3;
    stroke:white;
    transition: r 2s;
    opacity:.5;

}
#circle5{
    fill:yellow;
    stroke-width:3;
    stroke:white;

}

